.app_container {
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.WhyUseMfaang {
  background-color: white;
  padding-left: 10%;
  display: block;
  height: 365px;
  padding-top: 3%;
}

@media screen and (min-width: 420px) {
  .WhyUseMfaang {
    background-color: white;
    padding-left: 10%;
    display: block;
    height: 465px;
    padding-top: 3%;
  }
}