:root {
  --color: rebeccapurple;
  --disabled: #959495;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.terms {
  cursor: pointer;
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 14px;
  /* color: var(--color); */
  color: #8F8F8F;
  padding-top: 2%;
  padding-bottom: 3%;
}
.checkbox--disabled {
  color: var(--disabled);
}
.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkbox__input {
  display: grid;
  /* grid-template-areas: "checkbox"; */
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}
.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}
.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}
/* body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1;
} */
.user_name input:hover {
 color: #FF9100;
}