:root {
  --color: rebeccapurple;
  --disabled: #959495;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.terms {
  cursor: pointer;
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 14px;
  color: #8f8f8f;
  padding-top: 2%;
  padding-bottom: 3%;
}
.checkbox--disabled {
  color: var(--disabled);
}
.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  margin-top: 3px;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkbox__input {
  display: grid;
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}
.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}
.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}

.user_name input:hover {
  color: #ff9100;
}

.login {
  background-color: #ff9100;
}
.app_headerhome {
  width: 75px;
}

.card {
  border-radius: 6px;
  background-color: #fafafa;
  display: inline-block;
  margin: 0;
  position: sticky;
  height: auto;
  width: 50%;
  height: 480px;
  left: 25%;
  z-index: 1;
  bottom: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.signup_card {
  border-radius: 6px;
  background-color: #fafafa;
  display: inline-block;
  margin: 0;
  height: auto;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.signup_card_form {
  border-radius: 6px;
  background-color: #fafafa;
  display: inline-block;
  margin: 0;
  width: 40%;
  height: 400px;
  left: -5%;
  top: 5%;
  z-index: 1;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.login_card_form {
  border-radius: 6px;
  background-color: #fafafa;
  display: inline-block;
  margin: 0;
  width: 40%;
  height: 310px;
  left: -5%;
  top: 5%;
  z-index: 1;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.login_card {
  border-radius: 6px;
  background-color: #fafafa;
  display: inline-block;
  margin: 0;
  height: auto;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.login_card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.signup_card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:active {
  border: none;
}
.login:active {
  border: none;
}
