.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 0px;
  height: 69px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_logincontainer {
  display: flex;
  align-items: center;
  padding-right: 10%;
}

.signup_button {
  padding-left: 5%;
}

.info_avatar {
  /* left: -16%;
  top: 19%; */
  display: flex;
  padding-top: 1%;
  padding-right: 13%;
  z-index: 999;
}
.dropdown_menu {
  display: flex;
  /* height: 50%; */
  background-color: #dbdbdb;
  /* margin-top: 6%; */
  /* width: 100%; */
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  padding-left: 3%;
  /* padding-top: 0%; */
  margin-left: 1%;
  margin-top: 0.5%;
}
