.post_input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
  height: 55px;
  outline: none;
  width: 90%;
}

.post_button {
  height: 46px;
  width: 10%;
  outline: none;
  background-color: white;
  border: none;
  border-top: solid 1px lightgray;
  cursor: pointer;
}
