.post_input {
  flex: 1;
  border: none;
  padding: 10px;
  /* border-top: 1px solid lightgray; */
  height: 55px;
  outline: none;
  /* width: 90%; */
}

.post_button {
  height: 55px;
  /* width: 10%; */
  outline: none;
  background-color: white;
  border: none;
  /* border-top: solid 1px lightgray; */
  cursor: pointer;
}

.sent {
  flex-direction: row-reverse;
}

/* style={{display:'flex', justifyContent:'space-between'}} */
.sent .messagecontent {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  width: 100%;
}
.sent p {
  color: white;
  background: #8f8f8f;
  align-self: flex-end;
  justify-content: space-between;
  border-radius: 5px;
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
}
.received p {
  color: #8f8f8f;
  justify-content: space-between;
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
}

.received .messagecontent {
  float: left;
  display: flex;
  padding-top: 1%;
  width: 100%;
}

.highlight {
  border: solid 2px;
  border-color: #8f8f8f;
}
